:root {
    --primary-color: rgb(255, 99, 190);
}

* {
    margin: 5px;
}

html { /* set font for the entire document */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 1.2em;
    line-height: 1.5;
    padding: 0;
    background-color: #fff0f7;
    color: rgb(36, 36, 36);
}

@media (max-width: 600px) {
    body {
        margin: 2em;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 10px;
    color: rgb(255, 155, 213);
}
h1 {
    font-size: 2.5em;
    margin-top: 10px;
}

.thisweek {
    font-size: 1.8vh;
    margin-top: 1vw;
    color: color-mix(srgb, rgb(255, 99, 190), rgb(255, 23, 139));
    font-weight: 500;
    text-align: center;
}

p {
    font-weight: 400;
    margin: auto;
    color: rgb(36, 36, 36);
}

list {
    font-weight: 400;
    margin: 10px;
    color: rgb(36, 36, 36);
}
a {
    color: rgb(255, 99, 190);
    text-decoration: none;
    position: relative;
}
a:hover {
    color: rgb(255, 23, 139);
    text-decoration: underline;
}
nav:has(ul) {
    font-style: italic;
}

.topic {
    font-weight: 500;
    font-size: 1.4em;
    color: gray;
    padding: 10px 0px 0px 0px;
}

img {
    max-width: 100%;
    min-width: 80%;
    width: auto;
    height: auto;
    border-radius: 10px; /* round corners for images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.event {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    justify-items: stretch;
    font-size: 1.8vh;
}

/* Video and Audio Player */

details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: auto;
    background-color: #fff0f7;
    padding: 20px;
    border-radius: 10px; 
    margin-bottom: 20px;
}
details summary {
    font-weight: 600;
    font-size: 2vh;
    color: hsl(330, 100%, 75%);
    cursor: pointer;
}

#video-player {
    background-color: #fff0f7;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

audio {
    position: static;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Attendance Form */

.attendance {
    margin: auto;
    height: 100%;
    background-color: #fff0f7;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    & label {
        font-size: 2vh;
        font-weight: 500;
        color: rgb(36, 36, 36);
    }
}

legend{
    font-weight: 600;
    font-size: 1.5em;
    color: rgb(255, 99, 190);
    margin-bottom: 10px;
}

fieldset {
    border: 2px solid rgb(255, 99, 190);
    display: inline;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff0f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#name {
    width: auto;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 99, 190);
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin-bottom: 10px;
    & :hover {
        border-color: color(srgb rgb(255, 99, 190) rgb(255, 23, 139) rgb(255, 23, 139) lightness(50%));
    }
    & :focus {
        border-color: rgb(212, 0, 106);
    }
}

#checkbox {
    background-color: rgb(255, 99, 190);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#checkbox:hover {
    background-color: rgb(255, 23, 139);
    color: white;
    cursor: pointer;
}

label {
    font-weight: 500;
    color: rgb(36, 36, 36);
    margin: 5px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

#Yes, #No {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
#Yes, #No:hover {
    cursor: pointer;
}

#bdaydate {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 99, 190);
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin-bottom: 10px;
}
#bdaydate:hover {
    border-color: rgb(212, 0, 106);
    cursor: pointer;
}

#college-choice {
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 99, 190);
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin: 10px 10px 10px 10px;
}
#college-choice:hover {
    border-color: rgb(212, 0, 106);
    cursor: pointer;
}

#drink-select {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 99, 190);
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin: 10px 10px 10px 10px;
}
#drink-select:hover {
    border-color: rgb(212, 0, 106);
    cursor: pointer;
}

#questions {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 99, 190);
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin-bottom: 10px;
}

input[type="text"] {
    border: 2px solid rgb(255, 99, 190);
    padding: 5px;
    border-radius: 5px;
}
input[type="text"]:focus {
    border-color: rgb(212, 0, 106);
}

#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 99, 190);
    color: white;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
}
#submit:hover {
    background-color: rgb(255, 23, 139);
    color: white;
    cursor: pointer;
}

/* bottom part of the page */

button {
    background-color: var(--primary-color, rgb(200, 200, 200));
    color: white;
    margin-top: 0.2in;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}
button:hover {
    background-color: rgb(255, 23, 139);
    color: white;
    cursor: pointer;
}

button:active {
    background-color: rgb(255, 23, 139);
    color: white;
    transform: translateY(2px);
}

button.primary {
    background-color: rgb(255, 99, 190);
    color: white;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 209, 236);
    color: white;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul li {
    list-style-type: none;
    margin: 5px 0;
}

ul > li {
    font-size: 1em;
    color: rgb(36, 36, 36);
}

h1 ~ p {
    font-size: 1.2em;
    color: gray;
}

h1 + h2 {
    margin-top: 10px;
    color: rgb(255, 155, 213);
}
