:root {
    --primary-color: rgb(255, 99, 190);
}

html { /* set font for the entire document */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 1.2em;
    line-height: 1.5;
    padding: 0;
    background-color: #fff0f7;
    color: rgb(36, 36, 36);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 10;
    color: rgb(255, 155, 213);
}
h1 {
    font-size: 2.5em;
    margin-top: 10;
}
h2 {
    font-size: 200;

}

p {
    font-weight: 400;
    margin: 10;
    color: rgb(36, 36, 36);
}

list {
    font-weight: 400;
    margin: 10;
    color: rgb(36, 36, 36);
}
a {
    color: rgb(255, 99, 190);
    text-decoration: none;
    position: relative;
}
a:hover {
    color: rgb(255, 23, 139);
    text-decoration: underline;
}
nav ul li::marker {
    color: rgb(255, 99, 190); /* color for nav list bullet points */
}

.topic {
    font-weight: 500;
    font-size: 1.4em;
    color: gray;
    margin: 10;
}

img {
    max-width: 100%;
    min-width: none;
    width: auto;
    height: auto;
    border-radius: 10px; /* round corners for images */
}

.attendance {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: #fff0f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

details{
    background-color: #fff0f7;
    padding: 20px;
    border-radius: 10px; 
    margin-bottom: 20px;
}
details summary {
    font-weight: 600;
    font-size: 1.2em;
    color: hsl(330, 100%, 75%);
    cursor: pointer;
}

#video-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff0f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

audio {
    position: static;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

legend{
    font-weight: 600;
    font-size: 1.5em;
    color: rgb(255, 99, 190);
    margin-bottom: 10px;
}

#name {
    width: 200px;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 99, 190);
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin-bottom: 10px;
}
#name:hover {
    border-color: rgb(212, 0, 106);
}

label {
    font-weight: 500;
    color: rgb(36, 36, 36);
    margin: 5px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

#Yes, #No {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
#Yes, #No:hover {
    cursor: pointer;
}

#bdaydate {
    width: 115px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 99, 190);
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin-bottom: 10px;
}
#bdaydate:hover {
    border-color: rgb(212, 0, 106);
    cursor: pointer;
}

#college-choice {
    width: 180px;
    height: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 99, 190);
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin: 10px 10px 10px 10px;
}
#college-choice:hover {
    border-color: rgb(212, 0, 106);
    cursor: pointer;
}

#drink-select {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 99, 190);
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin: 10px 10px 10px 10px;
}
#drink-select:hover {
    border-color: rgb(212, 0, 106);
    cursor: pointer;
}

#questions {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 99, 190);
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin-bottom: 10px;
}

#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 99, 190);
    color: white;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
}
#submit:hover {
    background-color: rgb(255, 23, 139);
    color: white;
}

button {
    background-color: var(--primary-color, rgb(200, 200, 200));
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}
button:hover {
    background-color: var(--primary-color, rgb(200, 200, 200));
    color: white;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 209, 236);
    color: white;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}